HELP.md
target/
build/
!gradle/wrapper/gradle-wrapper.jar
.mvn/wrapper/maven-wrapper.jar


*.class
*.log
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

.idea/
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/


*.env
# macOS
.DS_Store
# Windows
Thumbs.db